<div>
    <input [(ngModel)]="user" placeholder="Enter your name" />
    <input [(ngModel)]="message" placeholder="Enter your message" />
    <button (click)="sendMessageToServer()">Send Message</button>
</div>
  
<div *ngFor="let chatMessage of chatMessages">
    {{ chatMessage.user }}: {{ chatMessage.message }}
</div>


<div *ngIf="isMobile">
  <button (click)="toggleDeviceOrientation()">Send Orientation</button>
</div>


<div>
  <button (click)="createRoom()">Create Room</button>
</div>


<ng-container *ngIf="roomId; else loadingTemplate">
  <!-- Display data received from the server -->
  <p>Room ID: {{ roomId }}</p>
</ng-container>

<ng-template #loadingTemplate>
  <!-- Show a loading message or spinner while waiting for data -->
  <p>Create a room to generate Room ID</p>
</ng-template>