<h1>Lobby</h1>
<h1>Computer detected and Connected To: {{roomId}}</h1>
<div *ngIf="signalRService.controllerConnected else waitingControllerTemplate">
    <p>Controller is connected</p>
    <div>
      <p>Alpha: {{ orientationData?.alpha | number: '1.2-2' }}</p>
      <p>Beta: {{ orientationData?.beta | number: '1.2-2' }}</p>
      <p>Gamma: {{ orientationData?.gamma | number: '1.2-2' }}</p>
    </div>
    <div>
      <button (click)="startCarGame()">Start Car Game</button>    
    </div>
  </div>
  <ng-template #waitingControllerTemplate>
    <p>Waiting for controller connection...</p>
  </ng-template>
  