
<div class="container mt-5 text-center">
    <!-- Main Heading -->
    <h1 class="badge bg-primary text-wrap fs-3 p-3">Lobby</h1>

    <!-- Computer Connection Status -->
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Computer detected</h4>
        <h4>Connected To Room Id: {{roomId}}</h4>
    </div>

    <!-- Controller Connection Status -->
    <div *ngIf="signalRService.controllerConnected; else waitingControllerTemplate">
        <div class="alert alert-success" role="alert">
            <p>Controller is connected</p>
            <div>
                <p>Alpha: {{ orientationData?.alpha | number: '1.2-2' }}</p>
                <p>Beta: {{ orientationData?.beta | number: '1.2-2' }}</p>
                <p>Gamma: {{ orientationData?.gamma | number: '1.2-2' }}</p>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary btn-lg" (click)="startCarGame()">Start Game</button>    
            </div>
        </div>
    </div>
    <ng-template #waitingControllerTemplate>
        <div class="alert alert-warning" role="alert">
            <p>Waiting for controller connection...</p>
        </div>
    </ng-template>
</div>

