/* Define your gradient backgrounds */
.bg-gradient-home {
   background: linear-gradient(to right, #92afd7, #627ca9);  
}


.bg-gradient-lobby {
  background: linear-gradient(to right, #7baa85, #4a724f); /* Darker Green Gradient for lobby */
}

.bg-car-game {
  background-image: url('assets/media/newroad.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment:fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

body, html {
  height: 100vh;
  margin: 0;
}

